<script id="{{name}}_category_port_form_html_tmpl" type="text/x-jsrender">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      (%:type%) port
    </div>
  </div>
  <div class='panel-body'>
    <div class='form-group'>
      <label class='control-label' for='category_form_port_name'>Name</label>
      <input type='text'
        id='{{name}}_category_form_port_name'
        class='form-control'
        required
        placeholder='ex: Geometry'
        value='(%:name%)'
        onblur='{{name}}_port_name_onblur(event)'
      ></input>
    </div>
    <div class='form-group'>
      <label class='control-label' for='category_form_description'>Description</label>
      <textarea
        id='{{name}}_category_form_port_description'
        class='form-control'
        placeholder='ex: all geometrical data'
        onblur='{{name}}_port_description_onblur(event)'
      >(%:description%)</textarea>
    </div>
  </div>
</script>
