{% extends 'component/port_editor.html' %}

{% load staticfiles %}

{% block left_panel %}

<!--Hidden fields to save port tree structure and data (json format) -->
<!--<textarea name={{name}} style="display:none;"> %(value)s </textarea>-->
<textarea name={{name}}> {{value}} </textarea>

<!--
<div class="form-group">
  <div id="{{name}}_jstree"></div>
  <span class="help-block">To edit port tree, right click on nodes</span>
</div>
-->
<!--        
<script type="text/javascript" charset="utf-8">

  // get handle to DOM widget storing port tree
  var hidden_text_DOM = $('textarea[name={{name}}]'); // hidden textarea to save port tree structure and data

  // load json data from DOM widget
  var json=DOM_to_json(hidden_text_DOM);
  console.dir(json);
          


          // define jstree settings
          $("{{name}}_jstree").jstree({
          "core" : {
            "animation" : 0,
            "check_callback" : true,
            "themes" : { "stripes" : false },
            'data' : json["structure"]
          },
          "types" : {

            "root" : {
               "icon" : "glyphicon glyphicon-circle-arrow-right",
               "valid_children" : ["category","string","float"],
               "default":{draggable:false}
            },
            "category" : {
               "icon" : "glyphicon glyphicon-folder-open",
               "valid_children" : ["category","string","float"],
               "default":{draggable:false}
            },
            "string" : {
               "icon" : "glyphicon glyphicon-font",
               "valid_children" : [],
               "default":{draggable:false}
            },
            "float" : {
               "icon" : "glyphicon glyphicon-sound-5-1",
               "valid_children" : [],
               "default":{draggable:false}
            }
          },
          "plugins" : ["state","contextmenu", "types"],

          "contextmenu": {
            
            "items": function($node){
              var tree=$("{{name}}_jstree").jstree(true);

              return {
                "Create": {
                  "label": "Create node",
                  "icon": "glyphicon glyphicon-plus",
                  "_disabled": function(obj){
                    switch($node.type){
                      case "root":
                        return false;
                      case "category":
                        return false;
                      default:
                        return true;
                    }
                  },
                  "submenu":{
                    "Category": {
                      "label": "Create category",
                      "icon": "glyphicon glyphicon-folder-open",
                      "action": function(obj){
                        var position = 'inside';
                        var parent = $node;
                        var newNode_data = { state: "open",  text: " ", type: "category" };
                        var newNode=$("{{name}}_jstree").jstree().create_node(parent,newNode_data, "last");
                        $("{{name}}_jstree").jstree("open_all");

                        default_category_data={
                          type:"category",
                          name:"",
                          description:"",
                        };

                        set_nodes_data(hidden_text_DOM, newNode,"_all", default_category_data);

                        console.dir($(this))
                        // save tree structure change in hidden field
                        jstree_onchange(hidden_text_DOM, tree);

                      },
                    },//Category end
                    "String": {
                      "label": "Create string",
                      "icon": "glyphicon glyphicon-font",
                      "action": function(obj){
                        var position = 'inside';
                        var parent = $node;
                        var newNode_data = { state: "open", text: " ", type: "string" };
                        var newNode=$("{{name}}_jstree").jstree().create_node(parent,newNode_data, "last");
                        $("{{name}}_jstree").jstree("open_all");
                        default_string_data={
                          type:"string",
                          name:"",
                          description:"",
                          default:""
                        };

                        set_nodes_data(hidden_text_DOM, newNode,"_all", default_string_data);


                        // save tree structure change in hidden field
                        jstree_onchange(hidden_text_DOM, tree);

                      },
                    },//String end

                    "Float": {
                      "label": "Create float",
                      "icon": "glyphicon glyphicon-sound-5-1",
                      "action": function(obj){
                        var position = 'inside';
                        var parent = $node;
                        var newNode_data = { state: "open", text: " ", type: "float" };
                        var newNode=$("{{name}}_jstree").jstree().create_node(parent,newNode_data, "last");
                        $("{{name}}_jstree").jstree("open_all");

                        default_float_data={
                          type:"float",
                          name:"",
                          description:"",
                          default:""
                        };

                        set_nodes_data(hidden_text_DOM, newNode,"_all", default_float_data);

                        // save tree structure change in hidden field
                        jstree_onchange(hidden_text_DOM, tree);
                      },
                    },//Float end
                  }//submenu end
                },//Create end     

                "Delete": {
                "label": "Delete node",
                "icon": "glyphicon glyphicon-remove-sign",
                "action": function (obj) {

                     // delete node data
                    nodes_ondelete(hidden_text_DOM, tree, $node);

                    $("{{name}}_jstree").jstree('delete_node', $node);

                    // save tree structure change in hidden field
                    jstree_onchange(hidden_text_DOM, tree);                   

                  },
                  "_disabled": function(obj){
                    switch($node.type){
                      case 'root':
                        return true;
                      default:
                        return false;
                    }
                  }
                }// Delete End
              };// return end             
            }// items End
          }// contextmenu End
       
         });



          function DOM_to_json(DOM_handle){
            // get data saved in hidden field
            var DOM_val=DOM_handle.val();

            var json={};
            try {
              // import port tree structure and data from hidden textarea
              json=JSON.parse(DOM_val); 
            } catch (e) {

              // for new port tree, give default values
              json["structure"]=[{ "text" : "Inlets", "type": "root", "children" : []}];
              json["data"]={};              
            }
             return json;
          }

          function json_to_DOM(DOM_handle,json){
            try{
              var value=JSON.stringify(json);

              DOM_handle.val(value);
            } catch (e) {
              console.error("json_to_DOM error:", e);
            }
          }

          function jstree_onchange(DOM_handle, jstree_obj){
            var json=DOM_to_json(DOM_handle);
            console.dir("jstree_onchange - old structure");
            console.dir(DOM_handle);
            console.dir(jstree_obj);
            json["structure"]=jstree_obj.get_json();
            json_to_DOM(DOM_handle,json);
            console.dir("jstree_onchange - new structure");
            console.dir(DOM_handle.val());
          }

          function set_nodes_data(DOM_handle, node, property, value){
            var json=DOM_to_json(DOM_handle);

            if (property==="_all"){
              json["data"][node]=value;             
            }
            else{
               json["data"][node][property]=value;         
            }
            json_to_DOM(DOM_handle,json);
          }
 
          function get_nodes_data(DOM_handle, node, property){

            var json=DOM_to_json(DOM_handle);
            var node_data=json["data"][node];
     
            if (node in json["data"]){
              var node_data=json["data"][node]; 
            }
            else{           
              return {};
            }
              
            if (property in node_data){
              value=node_data[property];             
            }
            else if(property==="_all"){
              value=node_data
            }
            else{
              value={};           
            }
            return value;
          }
         

          function nodes_ondelete(DOM_handle, tree, node){
            // get port json saved in hidden textarea 
            var json=DOM_to_json(DOM_handle);
            console.dir(json);

            // get all descendants of deleted node
            var descendants_id=[];
            get_descendants_id(tree,node.id,descendants_id);

            // remove from json.data all entries relative to descendants of the delete node (delete node included)
            update_data_on_node_delete(json,descendants_id)

            // save json in hidden textarea
            json_to_DOM(DOM_handle,json);
            console.dir(json);            
          }

          function update_data_on_node_delete(json,descendants_id){

             for (i=0;i<descendants_id.length;i++){
                 delete json["data"][descendants_id[i]];
             }
          }


          function get_descendants_id(tree,node_id,nodes_id) {

            // Get the actual node
            var node = tree.get_node(node_id);

            // Add it to the results
            nodes_id.push(node_id);

            // Attempt to traverse if the node has children
            if (tree.is_parent(node)) {
              $.each(node.children, function(index, child) {
                get_descendants_id(tree,child,nodes_id);
              });
            }
          };

</script>
-->

{% endblock left_panel %}
